@import '../../../pages/_variables'

.productsPage
    @include card
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-top: 11rem    

.productsMain
    width: 70%
    @include card
    @include flexCenter
    flex-direction: column
    justify-content: flex-start
    background-color: #f6f6f6
.sortPanel
    width: 100%
    @include card
    border: 1px solid red



