@import '../../pages/_variables'
.item
    width: 100%    
    background-color: white
    @include card
    padding: 1rem
    box-shadow: 5px 5px 5px $mainColor
    max-height: 400px
    &:nth-child(n+2)
        margin-top: 2rem
.main
    display: flex
    justify-content: space-between
    align-items: center
    height: 200px
    
.itemImage
    cursor: pointer
    max-width: 250px
    max-height: 200px
.price
    height: 100%
    width: 130px
    font-size: 1.7rem
    font-weight: 700
    margin-top: 2rem
.delete
    font-size: 1rem
    margin-top: 2rem
.itemCaption
    width: 400px
    @include flexCenter
    flex-direction: column
.delete,.itemTitle,.itemImage
    cursor: pointer
.itemTitle
    &:hover
        color: $fourthColor
.delete
    border-radius: 16px
    padding: 0.5rem
    color: $fourthColor
    &:hover
        background-color: $mainColor

.count
    border: 1px solid $mainColor
    height: 50px
    width: 150px
    @include flexCenter
    justify-content: space-between
    padding: 0.5rem
    @include card    
    input
        height: 35px
        width: 50px
        border: 1px solid $mainColor
        font-size: 1.5rem
        text-align: center
        font-weight: 700
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button 
        -webkit-appearance: none
        margin: 0

    
    
.minusButton,.plusButton
    height: 35px
    width: 35px    
    @include flexCenter
    padding: 0.2rem
    @include card
    font-size: 2rem
    font-weight: 500
    color: gray
    &:hover
        background-color: $mainColor
    
.extraWarrantry
    display: flex
    align-items: center
    margin-top: 1rem
    position: relative
.warrantryOption
    margin-left: 1rem
    display: flex
    align-items: center
    input
        position: absolute
        right: 0
        top: 0
        width: 0.1px
        height: 0.1px
        opacity: 0
        &:checked+.outer
            background-color: #fc8507

.inner,.outer
    display: block
    background-color: white
    border-radius: 50%
.outer
    height: 20px
    width: 20px
    border: 1px solid $mainColor
    margin-right: 1rem
    box-shadow: 2px 2px 2px $mainColor
    @include flexCenter
    cursor: pointer
    
.inner
    height: 8px
    width: 8px
    background-color: white
.warrantryPrice
    font-size: 1.7rem
    color: gray
    margin-left: 0.5rem
.mobileWrapper
    @include flexCenter
.smallMobileWrapper
    @include flexCenter
    
    
@media  ( max-width: 1522px  )
    .itemCaption
        width: 40%
        .itemTitle
            text-align: center
    .warrantryTitle
        width: auto
        max-width: 25%
    .smallMobileWrapper
        width: 70%
        @include flexCenter
        justify-content: space-around

@media  ( max-width: 1100px  )
    .item
        position: relative
    .itemCaption
        .itemTitle
            font-size: 1rem
    .itemImage
        max-width: 150px
    .price
        position: absolute
        top: 5px
        right: 15px
        height: auto
        width: auto
    .extraWarrantry
        .warrantryTitle,label,span
            font-size: 1rem
    .delete
        margin-top: 1rem
    .itemTitle
        margin: 0
@media  ( max-width: 770px  )
    .extraWarrantry
        flex-direction: column
        width: 100%
        .warrantryTitle
            max-width: none
            width: 100%
            text-align: center
            margin-bottom: 1rem
        .mobileWrapper
            .outer
                height: 15px
                width: 15px
            .inner
                height: 7px
                width: 7px
            .inner,.outer
                box-shadow: none
        .warrantryOption
            &:nth-child(1)
                margin-left: 0
    .itemImage
        max-width: 130px
    .price
        font-size: 1.5rem
        top: 10px
        margin: 0
    .itemCaption
        width: auto
        margin: 0 0.5rem
@media  ( max-width: 580px )
    .item
        margin-top: 2rem
        width: 100%
    .itemImage
        max-width: 120px
@media  ( max-width: 420px )
    .smallMobileWrapper
        flex-direction: column
        width: auto
@media  ( max-width: 360px )
    .main
        height: auto
    .smallMobileWrapper
        width: 65%
        height: auto
    .itemImage
        max-width: 160px

@media  ( max-width: 340px )
    .warrantryOption
        .outer
            margin-right: 0.5rem
        .warrantryOption
            margin-left: 0.5rem 
        label,span
            font-size: 0.9rem
                

                

        
