@import '../../pages/_variables'
.itemUI
    position: relative

.count
    border: 1px solid $mainColor
    height: 50px
    width: 150px
    @include flexCenter
    justify-content: space-between
    padding: 0.5rem
    @include card    
    input
        height: 35px
        width: 50px
        border: 1px solid $mainColor
        font-size: 1.5rem
        text-align: center
        font-weight: 700
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button 
        -webkit-appearance: none
        margin: 0

    
    
.minusButton,.plusButton
    height: 35px
    width: 35px    
    @include flexCenter
    padding: 0.2rem
    @include card
    font-size: 2rem
    font-weight: 500
    color: gray
    &:hover
        background-color: $mainColor

.inputMessage
    position: absolute
    bottom: -70px
    text-align: center
    left: 50%
    transform: translateX(-50%)
    width: 350px
    height: 60px
    padding: 1rem
    font-size: 1rem
    border: 1px solid $mainColor
    @include card
    color: $fourthColor
    background-color: rgb(219,214,217,0.5)
