@import '../../pages/_variables'
.count
    border: 1px solid $mainColor
    height: 50px
    width: 150px
    @include flexCenter
    justify-content: space-between
    padding: 0.5rem
    @include card    
    input
        height: 35px
        width: 50px
        border: 1px solid $mainColor
        font-size: 1.5rem
        text-align: center
        font-weight: 700
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button 
        -webkit-appearance: none
        margin: 0

    
    
.minusButton,.plusButton
    height: 35px
    width: 35px    
    @include flexCenter
    padding: 0.2rem
    @include card
    font-size: 2rem
    font-weight: 500
    color: gray
    &:hover
        background-color: $mainColor