@import '../../pages/_variables'

.discountItem
    width: 1100px
    @include flexCenter    
    justify-content: space-between
    position: relative
    &:nth-child(n+2)
        margin-left: 7rem               

.discountMsg
    font-size: 1.5rem
    text-align: center
    width: 33%
.product
    font-weight: 700

.prices
    @include flexCenter
    flex-direction: column
    width: 33%
.oldPrice
    margin: 0
    font-size: 1.5rem
    text-decoration: line-through
    font-weight: 300
    font-style: italic
.newPrice
    margin: 0
    font-weight: 700
    font-size: 2.3rem
    margin-top: 1rem
    letter-spacing: 3px
.percentDiscount
    margin: 0
    margin-top: 1rem
    color: $secondaryColor
    font-size: 2rem
    font-weight: 700
    letter-spacing: 5px

.linksButtons
    width: 40%
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    @include flexCenter
    justify-content: space-between

.toCart,.toProductPage
    height: 60px
    max-width: 250px
    padding: 0.5rem
    color: $secondaryColor
    font-size: 1rem
    background-color: #fff
    @include card
    border: 1px solid $secondaryColor
    &:hover,&:active
        background-color: $secondaryColor
        color: white
        border: none
.toCart
    position: relative
.addedToCartMsg
    position: absolute
    bottom: -60px
    right: -15px
    height: 40px
    width: 200px
    background-color: #f6f6f6
    @include flexCenter
    border-radius: 16px
    color: $fourthColor



@keyframes discountAnimation
    0%
        -webkit-transform: rotateY(0deg)
        -ms-transform: rotateY(0deg)
        transform: rotateY(0deg)
    50%
        -webkit-transform: rotateY(-180deg)
        -ms-transform: rotateY(-180deg)
        transform: rotateY(-180deg)       
    100%
        -webkit-transform: rotateY(-360deg)
        -ms-transform: rotateY(-360deg)
        transform: rotateY(-360deg)
        