@import '../../pages/_variables'
    
.panelWrapper
    margin-top: 3.7rem
    width: 100%
    height: 80px
    box-shadow: 0 10px 10px $mainColor
    @include flexCenter
    justify-content: space-around   
    padding: 10px 1rem
    color: $fourthColor
    position: fixed
    top: 0
    left: 0
    z-index: 500
    background-color: #fff
.logoWrapper
    cursor: pointer
    width: 300px
    @include flexCenter
    
.logo
    width: 120px    
    
.search
    @include flexCenter
    max-width: 650px
    height: 70%
    position: relative
.search input
    max-width: 400px
    background-color: $mainColor
    border: none
    @include card
    height: 100%   
    font-size: 1.5rem
    color: $fourthColor
    padding: 10px
    &:active,&:hover
        outline: 1px solid #70696e99       
        box-shadow: 5px 5px 15px $mainColor 
    

.searchButton
    margin-left: 1rem
    @include flexCenter
    @include card
    height: 100%
    border: none
    width: 110px
    color: $fourthColor
    font-size: 1.5rem
    padding: 5px
    cursor: pointer

.searchButton 
    &:active,&:hover
        background-color: $fourthColor
        color: $mainColor


.searchButton img
    margin-left: 5px
    height: 90%
    
.Login,.Register
    background: none
    border: none
    font-size: 1.5rem
    height: 80%
    padding: 5px
    @include card
    color: $fourthColor
    &:active,&:hover
        background: $mainColor

.Login
    margin-right: 1rem
.name
    font-size: 1.5rem
    color: $fourthColor
    margin-right: 2rem
    @include flexCenter    
    span
        font-weight: 700
        font-size: 2rem
        margin-left: 0.5rem



.cart
    height: 80%
    width: 15rem
    @include flexCenter
    cursor: pointer
    @include card
    font-size: 1.5rem
    color: $fourthColor
    &:active,&:hover
        background-color: $fourthColor
        color: $mainColor
        .CartLink
            color: $mainColor
    
    
.CartLink
    color: $fourthColor
    margin-left: 5px
    margin-right: 0.5rem
    
.cartLogo
    height: 50px



@keyframes bump
    0%
        transform: scale(1)
    25%
        transform: scale(1.1)
    50%
        transform: scale(1.2)
    75%
        transform: scale(1.1)
    100%
        transform: scale(1)

.loginWrapper
    @include flexCenter
    hr
      display: none
    
        
.foundProducts
    position: absolute
    left: 0
    @include flexCenter
    flex-direction: column
    justify-content: flex-start
    background-color: white
    min-width: 100%
    max-width: 120%
    border-bottom-left-radius: 32px
    border-bottom-right-radius: 32px
    padding: 16px 8px
    overflow-x: hidden
    
.foundItem
    display: block
    width: 100%
    text-align: center
    height: 43px
    padding: 8px
    font-size: 1rem
    @include flexCenter
    justify-content: space-between
    @include card
    &:nth-child(n+2)
        margin-top: 5px
    &:hover
        background-color: $fourthColor
        color: white
        .foundTitle,.foundPrice
            color: white
.foundTitle
    color: $fourthColor
.foundPrice
    font-weight: 700

.spinnerWrapper
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: -100px

.spinner  
  top: 0
  left: 0
  display: inline-block
  position: relative
  width: 80px
  height: 80px
  margin-right: 1rem

.spinner div 
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
  transform-origin: 40px 40px
  

.spinner div:after 
  content: " "
  display: block
  position: absolute
  width: 7px
  height: 7px
  border-radius: 50%
  background: #fff
  margin: -4px 0 0 -4px
  background-color: black

.spinner div:nth-child(1) 
  animation-delay: -0.036s
  

.spinner div:nth-child(1):after   
  top: 63px
  left: 63px

.spinner div:nth-child(2) 
  animation-delay: -0.072s

.spinner div:nth-child(2):after 
  top: 68px
  left: 56px

.spinner div:nth-child(3) 
  animation-delay: -0.108s

.spinner div:nth-child(3):after 
  top: 71px
  left: 48px

.spinner div:nth-child(4) 
  animation-delay: -0.144s

.spinner div:nth-child(4):after 
  top: 72px
  left: 40px

.spinner div:nth-child(5) 
  animation-delay: -0.18s

.spinner div:nth-child(5):after 
  top: 71px
  left: 32px

.spinner div:nth-child(6) 
  animation-delay: -0.216s

.spinner div:nth-child(6):after 
  top: 68px
  left: 24px

.spinner div:nth-child(7) 
  animation-delay: -0.252s

.spinner div:nth-child(7):after 
  top: 63px
  left: 17px

.spinner div:nth-child(8) 
  animation-delay: -0.288s

.spinner div:nth-child(8):after 
  top: 56px
  left: 12px

@keyframes lds-roller 
  0% 
    transform: rotate(0deg)
  
  100% 
    transform: rotate(360deg)
  

@media  ( max-width: 1640px  )
    .panelWrapper
        margin-top: 4.3rem
@media  ( max-width: 1522px  )
    .panelWrapper
        margin-top: 6.6rem
    .loginWrapper
      .name
        margin-right: 1rem
@media  ( max-width: 1405px  )
  .loginWrapper
    flex-direction: column
    hr
      display: block
      margin: 0
      width: 100%
      height: 1px
      border: 1px solid black
    .name
      margin: 0
    .Login
      margin: 0
    hr
      margin: 0.3rem 0
  .logoWrapper
    width: 120px
    .logo
      width: 100%
@media  ( max-width: 1370px  )
  .spinner
    transform: scale(0.7)
    margin: 0    
  .logoWrapper
    width: 120px
    position: absolute
    left: 10px
    .logo
      width: 100%
  .search
      margin-left: 200px

@media  ( max-width: 1200px  )
  .loginWrapper
    margin-right: 1rem
@media  ( max-width: 1100px  )
  .spinnerWrapper
    left: -80px
  .search
    input
      max-width: 230px
    
@media  ( max-width: 1000px  )
  .loginWrapper
    margin-right: 1rem    
  .cart
    width: auto
    padding: 0.5rem 0.5rem
    .cartLogo
      height: 30px
  .Register,.Login,.name,.CartLink,.searchButton,.cart
    font-size: 1rem
  .name
    span
      font-size: 1.5rem
  .search
    input
      font-size: 1rem
  .searchButton
    width: auto
    
@media  ( max-width: 900px  )
  .search
    margin-left: 170px
@media  ( max-width: 800px  )
  .search
    margin-left: 140px
  .logoWrapper
    width: 80px
@media  ( max-width: 770px  )
  .searchButton
    margin-right: 0.5rem
    padding: 0.5rem
    span
      display: none
    img
      margin: 0
  .spinner
    transform: scale(0.5)
  .panelWrapper
    padding: 0.5rem
    input
      height: 30px 
  .panelWrapper
    margin-top: 7.3rem
    height: auto
  .loginWrapper
    hr,.Login,.Register
      display: none
@media  ( max-width: 700px )
  .search
    input
      width: 230px
  .spinnerWrapper
    left: -65px
  .loginWrapper
    .name
      display: none
@media  ( max-width: 576px )
  .search
    input
      width: 150px
.foundProducts
    max-width: none 
    width: 150%  
    left: -50px
.foundItem
    width: 100%

.foundPrice
    font-weight: 700
@media  ( max-width: 500px )
  .logoWrapper
    width: 50px
  .search
    margin-left: 100px
  .spinner
    transform: scale(0.3)
  .panelWrapper
    width: 100vw
  .foundProducts
    width: 150%
    .foundPrice
      width: 57px
@media  ( max-width: 500px )
  .cart
    margin-right: 1rem

@media  ( max-width: 440px )
  .searchButton
    margin: 0 0 0 0.5rem
  .search
    input
      width: 100px
    img
      height: auto
  .cart
    height: auto
    .cartLogo
      height: 15px
  .foundProducts
    width: 200%
@media  ( max-width: 370px )
  .cart
    .CartLink
      display: none    
  .foundProducts
    left: -90px
