@import '../../pages/_variables'
.items
    width: 100%
    @include flexCenter
    flex-direction: column
    justify-content: space-around
    background-color: #f6f6f6
    padding: 0 0 2rem 0
    ul
        width: 100%
        li
            width: 100%
            &:nth-child(n+2)
                margin-top: 2rem
                
.pageButtons
    @include flexCenter
    width: 100%
.pageButton
    width: 100px
    height: 50px
    color: white
    font-size: 1.5rem
    margin-top: 1rem
    background-color: $secondaryColor    
    border-radius: 16px
    &:hover
        background-color: #e94040
    &:active
        background: radial-gradient($secondaryColor, #c74242)
    &:nth-child(n+2)
        margin-left: 1rem        
.pageButtonActive
    background-color: #e94040
    width: 120px
    height: 60px
.nothingFound
    text-align: center
    font-size: 2rem
    font-style: italic