@import '../../pages/_variables'
.item
    width: 98%
    margin: 0 auto
    height: 300px
    @include flexCenter
    justify-content: space-between
    border: 2px solid $mainColor
    box-shadow: 5px 5px 10px $mainColor
    padding: 1rem
    border-radius: 16px
    background-color: #fff
    position: relative
        
    
.itemImage
    max-width: 200px
.itemTitle,.itemPrice,.buyButton,.pageButton
    font-size: 1.5rem
.itemRating
    margin-top: 1rem

.itemDescription
    padding: 2rem 1rem
    width: 40%
    cursor: pointer
    &:hover .itemTitle
        color: $fourthColor
.itemUI
    width: 40%
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 80%
    padding: 1rem 0
.buttons
    @include flexCenter
    width: 100%
    position: relative
.buyButton, .pageButton
    width: 150px
    height: 70px
    background-color: $secondaryColor
    @include card
    color: white
    padding: 0.5rem
    &:hover
        background-color: #e94040
    &:active
        background: radial-gradient($secondaryColor, #c74242)



.pageButton
    width: 200px
    margin-right: 1rem
    
.prices
    display: flex
    flex-direction: column
    align-items: flex-end
    padding-right: 1rem
.oldPrice
    text-decoration: line-through
    font-size: 1.5rem
    font-style: italic
.newPrice
    font-size: 2rem
    font-weight: 700

.itemChars
    margin-top: 0.5rem

.addedToCartMsg
    position: absolute
    bottom: -70px
    right: 0
    height: 50px
    width: 200px
    background-color: #f6f6f6
    @include flexCenter
    border-radius: 16px
    

@media  ( max-width: 1522px )
    .item
        position: relative
    .buttons
        width: auto
        position: absolute
        bottom: 20px
        right: 20px
        .pageButton,.buyButton
            font-size: 1.3rem
            height: 50px
        .pageButton
            width: auto
    .itemDescription
        padding: 1rem 0.5rem
    .itemUI
        width: auto
    .addedToCartMsg
        bottom: auto
        top: -70px
        right: 0px
        width: auto
        padding: 0.5rem
@media  ( max-width: 1200px )
    .buttons
        .pageButton
            width: 200px
@media  ( max-width: 1000px )
    .item
        .itemImage
            max-width: 150px
        .itemUI
            padding: 0
        .itemDescription,.itemImage
            margin-bottom: 2rem
        .itemTitle
            font-size: 1.2rem
        .oldPrice
            font-size: 1.3rem
        .newPrice
            font-size: 1.5rem
    .buttons
        .pageButton
            width: auto
@media  ( max-width: 770px )
    .item
        margin: 0 auto
        width: 95%
@media  ( max-width: 450px )
    .pageButton
        max-width: 150px
    .buyButton
        width: 100px
    .prices
        width: 100%
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        flex-direction: row
        justify-content: center
        margin-top: 2rem
        .newPrice
            margin-left: 2rem
            font-size: 2rem
        .oldPrice
            font-size: 1.5rem
    .itemDescription
        width: auto
    .addedToCartMsg
        height: 40px
        top: -60px
        right: 25px
        img            
            height: 100%
@media  ( max-width: 350px )
    .item
        .itemImage
            max-width: 120px
    .buttons
        .pageButton,.buyButton
             font-size: 1rem
    .pageButton
        max-width: 130px
    .addedToCartMsg
        height: 30px
        top: -50px