$mainColor: rgb(219, 214, 217)
$secondaryColor: #ec2f21
$thirdColor: #47f138
$fourthColor: #424291


@mixin card
    border-radius: 8px

@mixin flexCenter
    display: flex
    justify-content: center
    align-items: center
