@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap')





html
    font-size: 16px 
    font-family: 'Roboto', sans-serif


ul
    margin: 0
    padding: 0
    list-style: none

*
    box-sizing: border-box

body
    width: 100%
    margin: 0
    position: relative
    z-index: -3333
    background-color: #f6f6f6

.container
    width: 1522px
    margin: 0 auto
input
    outline: none
button
    cursor: pointer
    outline: none
    border: none
    background: none
a
    text-decoration: none
    color: black
.main
    z-index: 1
    
label
    cursor: inherit


@media  ( max-width: 1522px )
    .container
        width: 1212px
    html
        font-size: 15px

@media  ( max-width: 1200px )
    .container
        width: 100%
    html
        font-size: 14px
@media  ( max-width: 576px  )
    html
        font-size: 12px