@import '../../../../pages/_variables'
.productMain
    margin-top: 11rem
    
.productWindow
    width: 100%
    min-height: 300px
    border: 1px solid $mainColor
    @include card
    display: flex
    justify-content: space-between
    align-items: flex-start
    background-color: #fff
    box-shadow: 5px 5px 5px $mainColor    
    padding: 2rem
    
.productMainTitle
    margin: 0
    margin-bottom: 1rem
    font-size: 2.5rem
    font-weight: 700

.productUI
    width: 50%
.productSubTitle
    font-size: 1.5rem
    font-weight: 400
