@import '../../../../pages/_variables'
.analogItem    
    width: 100%          
    a
        margin: 0 auto
        @include flexCenter
        border-radius: 32px
        flex-direction: column        
        height: 100%
        width: 255px
        max-height: 230px               
        padding: 1rem
        &:hover,&:focus 
            outline: 2px solid $mainColor 
            box-shadow: 5px 5px 5px $mainColor


.analogImg
    max-height: 130px
    max-width: 240px
    margin-bottom: 0.5rem
.analogTitle
    font-size: 1rem
    font-weight: 400
.analogPrice
    font-size: 1rem
    font-weight: 700
    margin-top: 0.5rem
    text-align: center

@media  ( max-width: 1000px )
    .analogItem
        a
            width: 200px
@media  ( max-width: 770px )
    .analogItem
        width: 100vw
        overflow: hidden
        padding: 0.5rem 0

