@import '../../../../pages/_variables'

.productImages
    @include flexCenter
    flex-direction: column
    width: 500px
.mainImgWrapper
    width: 100%
    height: 500px
    @include flexCenter
    cursor: pointer
    
.mainImg
    max-width: 95%
    max-height: 95%
.smallImages
    max-height: 200px
    width: 500px
    @include flexCenter
    border: 1px solid $mainColor
    box-shadow: 5px 5px 5px $mainColor
    border-radius: 25px
    margin-top: 1rem
    padding: 1rem
.smallImg
    max-height: 80%
    max-width: 25%
    @include card
    background-color: #fff   
    cursor: pointer 
    padding: 0.5rem
    &:nth-child(n+2)
        margin-left: 3rem
    &:hover
        outline: 1px solid $mainColor
        box-shadow: 5px 5px 5px $mainColor

.ModalImg
    height: 800px