@import '../../../../pages/_variables'
.category
    display: flex
    flex-direction: column
.item
    width: 70%
    display: flex
    font-size: 1rem    
    &:nth-child(n+3)
        margin-top: 1rem        
.charType
    width: 50%
    border-bottom: 1px dashed $mainColor
.char
    margin-left: 2rem


@media  ( max-width: 770px )
    .category
        width: 100%
    .item
        width: 100%
        display: flex
        align-items: center        
    .charType
        width: 250px
    .char
        margin-left: 0.5rem
        max-width: 120px
@media  ( max-width: 580px )
    .charType
        width: 200px
    .char
        width: 100px
